.button {
    color: white;
    background-color: rgb(21 58 53);
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    border: none;
    padding: 10PX;
    margin-top: 10px;
    border-radius: 60px / 60px;
}

.button:hover {
    color: rgb(147, 150, 148);
}
